amqp==5.2.0
asgiref==3.7.2
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
bitarray==2.9.2
boto3==1.34.145
botocore==1.34.145
cachetools==4.2.4
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.1
crispy-bootstrap4==2024.1
cron_descriptor==1.4.0
cryptography==42.0.8
cycler==0.12.1
Deprecated==1.2.14
deprecation==2.1.0
Django==4.2.9
django-bootstrap-modal-forms==3.0.3
django-bootstrap4==24.3
django-celery-beat==2.5.0
django-cors-headers==4.3.1
django-countries==7.6.1
django-crispy-forms==2.1
django-emoji-picker==0.0.6
django-googledrive-storage==1.6.0
django-localflavor==4.0
django-phonenumber-field==7.2.0
django-storages==1.14.3
django-timezone-field==6.1.0
djangorestframework==3.14.0
djangorestframework-api-key==3.0.0
easyocr==1.7.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
git-filter-repo==2.45.0
google-api-core==2.10.2
google-api-python-client==2.128.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gspread==5.12.3
gspread-dataframe==3.3.1
h11==0.14.0
httplib2==0.22.0
idna==3.6
imageio==2.34.2
img2pdf==0.5.1
intel-openmp==2021.4.0
Jinja2==3.1.4
jmespath==1.0.1
jsonfield==3.1.0
kiwisolver==1.4.5
kombu==5.3.5
lazy_loader==0.4
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
mkl==2021.4.0
mpmath==1.3.0
msal==1.30.0
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
ocrmypdf==16.4.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.0
pdfminer.six==20240706
pdfreader==0.1.15
phonenumbers==8.13.27
pi_heif==0.17.0
pikepdf==9.0.0
Pillow==10.1.0
pluggy==1.5.0
postmarker==1.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psutil==6.0.0
psycopg2==2.9.9
py-cpuinfo==9.0.0
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pycparser==2.22
pycryptodome==3.20.0
PyDrive==1.3.1
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.1
pypdf==4.3.0
PyPDF2==3.0.1
PySocks==1.7.1
python-bidi==0.4.2
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-stdnum==1.19
pytz==2023.3.post1
PyYAML==6.0.1
razorpay==1.4.2
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.1
rsa==4.9
s3transfer==0.10.2
schedule==1.2.2
scikit-image==0.24.0
scipy==1.14.0
seaborn==0.13.2
selenium==4.23.1
shapely==2.0.5
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
sympy==1.13.0
uritemplate==4.1.1
urllib3==2.1.0
utils==1.0.2
vine==5.1.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.2.0
